In [12]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/Employee.csv")
print(d)

    s.no First Name  Gender Login Time  Salary  Bonus%           Team  \
0      1     Mithun    Male    8.00 am   30000    3000      Marketing
1      2       John    Male    8.05 am   32000    3500      Marketing
2      3       Jake    Male    8.00 am   35000    4000          Sales
3      4     Joseph    Male    8.10 am   35000    4000  Manufacturing
4      5      Revan    Male    8.05 am   50000    6500  Manufacturing
5      6      Rahul    Male    8.12 am   40000    5000          Sales
6      7     Aparna  Female    8.10 am   45000    5000      Marketing
7      8   Harshini  Female    8.20 am   48000    4500          Sales
8      9     Chris     Male    8.15 am   55000    5000  Manufacturing
9     10      Rohan    Male    8.00 am   44000    3500      Marketing
10    11    Pradeep    Male    8.05 am   50000    5000          Sales
11    12     Roshan    Male    8.14 am   48000    3500      Marketing
12    13     Yathav    Male    8.29 am   45000    4000          Sales
13    14      Akhil    Male    8.30 am   50000    2900     Production
14    15    Jayanth    Male    8.25 am   39000    3000          Sales
15    16     Swetha  Female    8.22 am   46000    3000      Marketing
16    17   Nandhini  Female    8.16 am   56000    3500          Sales
17    18     Shadab    Male    8.18 am   39000    4000     Production
18    19     Saheer    Male    8.22 am   46000    4500  Manufacturing
19    20       Miru  Female    8.20 am   37000    2500          Sales

    Designation
0   Coordinator
1   Coordinator
2            HR
3        Assist
4   Coordinator
5       Manager
6            HR
7   Coordinator
8            HR
9       Manager
10           HR
11       Assist
12       Assist
13           HR
14  Coordinator
15           HR
16      Manager
17  Coordinator
18      Manager
19  Coordinator

In [11]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['s.no', 'First Name', 'Gender', 'Login Time', 'Salary', 'Bonus%',
       'Team', 'Designation'],
      dtype='object')
(20, 8)

In [2]:
import pandas as pd
d=pd.read_csv("/Users/Student/Downloads/Employee.csv")
df=pd.DataFrame(d)
print("First Name",df['First Name'])

First Name 0       Mithun
1         John
2         Jake
3       Joseph
4        Revan
5        Rahul
6       Aparna
7     Harshini
8       Chris
9        Rohan
10     Pradeep
11      Roshan
12      Yathav
13       Akhil
14     Jayanth
15      Swetha
16    Nandhini
17      Shadab
18      Saheer
19        Miru
Name: First Name, dtype: object

In [4]:
print(df[2:5])

   s.no First Name Gender Login Time  Salary  Bonus%           Team  \
2     3       Jake   Male    8.00 am   35000    4000          Sales
3     4     Joseph   Male    8.10 am   35000    4000  Manufacturing
4     5      Revan   Male    8.05 am   50000    6500  Manufacturing

   Designation
2           HR
3       Assist
4  Coordinator

In [5]:
print("Particular Person Details:\n",df.loc[8])

Particular Person Details:
 s.no                       9
First Name            Chris
Gender                  Male
Login Time           8.15 am
Salary                 55000
Bonus%                  5000
Team           Manufacturing
Designation               HR
Name: 8, dtype: object

In [6]:
print(d.loc[d['Salary']==32000])

   s.no First Name Gender Login Time  Salary  Bonus%       Team  Designation
1     2       John   Male    8.05 am   32000    3500  Marketing  Coordinator

In [7]:
df=d['Salary']/32000
print(df)

0     0.93750
1     1.00000
2     1.09375
3     1.09375
4     1.56250
5     1.25000
6     1.40625
7     1.50000
8     1.71875
9     1.37500
10    1.56250
11    1.50000
12    1.40625
13    1.56250
14    1.21875
15    1.43750
16    1.75000
17    1.21875
18    1.43750
19    1.15625
Name: Salary, dtype: float64